<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reset password</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/reset/{{ token  }}" method="post">
        <h2 class="form-signin-heading">Reset password</h2>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <input type="password" name="password_verify" class="form-control" placeholder="Password verification" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save new password</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
